<!DOCTYPE html>
<html>
    <head>
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../result.css" rel="stylesheet">
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <title>Dog - Cat Predictor</title>

    </head>
    <body>
        <div class="container">
            <div class="row content">
                <div class="alert alert-success" role="alert">
                    <span>Result: <%= answer %></span>
                </div>
            <div class="row goback">
                <button class="btn btn-dark button">
                    <a href="/">Go back</a>
                </button>
            </div>
            </div>
        </div>
    </body>
</html> 